In [1]:
import numpy as np
import pandas as pd

In [5]:
#easyJet
data_1 = {
    'Year': [2018, 2019, 2020, 2021, 2022, 2023],
    'Company Size (million pounds)': [5898, 6385, 3094, 1455, 876, 5179],
    'Net Profit (million pounds)': [358, 349, -1079, -858, -169, 324]
}
df_1 = pd.DataFrame(data_1)

In [13]:
# Logarithm of company size
df_1['Log Company Size'] = np.log(df_1['Company Size (million pounds)'])

# Take the signed logarithm of the net profit
df_1['Log Net Profit'] = np.sign(df_1['Net Profit (million pounds)']) * np.log(np.abs(df_1['Net Profit (million pounds)']) + 1)

print(df_1)

   Year  Company Size (million pounds)  Net Profit (million pounds)  \
0  2018                           5898                          358
1  2019                           6385                          349
2  2020                           3094                        -1079
3  2021                           1455                         -858
4  2022                            876                         -169
5  2023                           5179                          324

   Log Company Size  Log Net Profit
0          8.682369        5.883322
1          8.761707        5.857933
2          8.037220       -6.984716
3          7.282761       -6.755769
4          6.775366       -5.135798
5          8.552367        5.783825

In [20]:
#ryanair
data_2 = {
    'Year': [2018, 2019, 2020, 2021, 2022, 2023],
    'Company Size (million pounds)': [7697, 8495, 1636, 4801, 10775, 13444],
    'Net Profit (million pounds)': [885, 649, -1015, -241, 1314, 1917]
}
df_2 = pd.DataFrame(data_2)

#wizz air
data_3 = {
    'Year': [2018, 2019, 2020, 2021, 2022, 2023],
    'Company Size (million pounds)': [2319.1, 2761.3, 739, 1663.4, 3895.7, 5073.1],
    'Net Profit (million pounds)': [123, 281.1, -576, -642.5, -535.1, 365.9]
}
df_3 = pd.DataFrame(data_3)

#air france
data_4 = {
    'Year': [2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023],
    'Company Size (million pounds)': [16099, 15414, 15828, 16073, 16588, 6415, 8744, 16285, 18518],
    'Net Profit (million pounds)': [426, 372, 588, 266, 280, -3389, -1403, 483, 1085]
}
df_4 = pd.DataFrame(data_4)

#british airways
data_5 = {
    'Year': [2018, 2019, 2020, 2021, 2022, 2023],
    'Company Size (million pounds)': [13020, 13290, 3947, 3699, 11030, 14323],
    'Net Profit (million pounds)': [1952, 1921, -3880, -1769, 322, 1431]
}
df_5 = pd.DataFrame(data_5)

#lufthansa
data_6 = {
    'Year': [2018, 2019, 2020, 2021, 2022, 2023],
    'Company Size (million pounds)': [35542, 36424, 13589, 16811, 32770, 35442],
    'Net Profit (million pounds)': [2163, 1213, -6725, -2191, 804, 1689]
}
df_6 = pd.DataFrame(data_6)

In [15]:
# Logarithm of company size
df_2['Log Company Size'] = np.log(df_2['Company Size (million pounds)'])

# Take the signed logarithm of the net profit
df_2['Log Net Profit'] = np.sign(df_2['Net Profit (million pounds)']) * np.log(np.abs(df_2['Net Profit (million pounds)']) + 1)

print(df_2)

   Year  Company Size (million pounds)  Net Profit (million pounds)  \
0  2018                           7697                          885
1  2019                           8495                          649
2  2020                           1636                        -1015
3  2021                           4801                         -241
4  2022                          10775                         1314
5  2023                          13444                         1917

   Log Company Size  Log Net Profit
0          8.948586        6.786717
1          9.047233        6.476972
2          7.400010       -6.923629
3          8.476580       -5.488938
4          9.284984        7.181592
5          9.506288        7.559038

In [16]:
# Logarithm of company size
df_3['Log Company Size'] = np.log(df_3['Company Size (million pounds)'])

# Take the signed logarithm of the net profit
df_3['Log Net Profit'] = np.sign(df_3['Net Profit (million pounds)']) * np.log(np.abs(df_3['Net Profit (million pounds)']) + 1)

print(df_3)

   Year  Company Size (million pounds)  Net Profit (million pounds)  \
0  2018                         2319.1                        123.0
1  2019                         2761.3                        281.1
2  2020                          739.0                       -576.0
3  2021                         1663.4                       -642.5
4  2022                         3895.7                       -535.1
5  2023                         5073.1                        365.9

   Log Company Size  Log Net Profit
0          7.748934        4.820282
1          7.923457        5.642262
2          6.605298       -6.357842
3          7.416619       -6.466922
4          8.267629       -6.284321
5          8.531707        5.905089

In [21]:
# Logarithm of company size
df_4['Log Company Size'] = np.log(df_4['Company Size (million pounds)'])

# Take the signed logarithm of the net profit
df_4['Log Net Profit'] = np.sign(df_4['Net Profit (million pounds)']) * np.log(np.abs(df_4['Net Profit (million pounds)']) + 1)

print(df_4)

   Year  Company Size (million pounds)  Net Profit (million pounds)  \
0  2015                          16099                          426
1  2016                          15414                          372
2  2017                          15828                          588
3  2018                          16073                          266
4  2019                          16588                          280
5  2020                           6415                        -3389
6  2021                           8744                        -1403
7  2022                          16285                          483
8  2023                          18518                         1085

   Log Company Size  Log Net Profit
0          9.686512        6.056784
1          9.643031        5.921578
2          9.669536        6.378426
3          9.684896        5.587249
4          9.716435        5.638355
5          8.766394       -8.128585
6          9.076123       -7.247081
7          9.698000        6.182085
8          9.826499        6.990257

In [18]:
# Logarithm of company size
df_5['Log Company Size'] = np.log(df_5['Company Size (million pounds)'])

# Take the signed logarithm of the net profit
df_5['Log Net Profit'] = np.sign(df_5['Net Profit (million pounds)']) * np.log(np.abs(df_5['Net Profit (million pounds)']) + 1)

print(df_5)

   Year  Company Size (million pounds)  Net Profit (million pounds)  \
0  2018                          13020                         1952
1  2019                          13290                         1921
2  2020                           3947                        -3880
3  2021                           3699                        -1769
4  2022                          11030                          322
5  2023                          14323                         1431

   Log Company Size  Log Net Profit
0          9.474242        7.577122
1          9.494767        7.561122
2          8.280711       -8.263848
3          8.215818       -7.478735
4          9.308374        5.777652
5          9.569622        7.266827

In [19]:
# Logarithm of company size
df_6['Log Company Size'] = np.log(df_6['Company Size (million pounds)'])

# Take the signed logarithm of the net profit
df_6['Log Net Profit'] = np.sign(df_6['Net Profit (million pounds)']) * np.log(np.abs(df_6['Net Profit (million pounds)']) + 1)

print(df_6)

   Year  Company Size (million pounds)  Net Profit (million pounds)  \
0  2018                          35542                         2163
1  2019                          36424                         1213
2  2020                          13589                        -6725
3  2021                          16811                        -2191
4  2022                          32770                          804
5  2023                          35442                         1689

   Log Company Size  Log Net Profit
0         10.478470        7.679714
1         10.502983        7.101676
2          9.517016       -8.813736
3          9.729789       -7.692570
4         10.397269        6.690842
5         10.475653        7.432484